body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #f6f9fc;
}

.container-fluid {
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
}
h1, h2, h3, h4, h5, h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 10px;
}

#main-wrapper {
    height: 100%;
}

.card.border-0 {
    height: 80vh;
    width: 80vw;
    max-height: 700px;
    max-width: 900px;
    margin: auto;
}

.account-block {
    padding: 0;
    background-image: url(https://bootdey.com/img/Content/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

.account-block .overlay {
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}

.text-theme {
    color: #5369f8 !important;
}

.btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
}

/*Dashboard tables*/

/* General Card Styling */
.card {
  border: none;
  border-radius: 10px;
}

.card-header {
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  padding: 1rem 1.5rem;
}

.card-body {
  padding: 1.5rem;
}

/* Table Styling */
.table thead th {
  background-color: #343a40;
  color: #ffffff;
  border-bottom: 2px solid #dee2e6;
  font-size: 1rem;
  font-weight: 600;
}

.table tbody tr {
  transition: all 0.3s ease;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table tbody td {
  vertical-align: middle;
}

.table tbody td a {
  color: #007bff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.table tbody td a:hover {
  text-decoration: underline;
}

/* Button Styling */
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}


/*ADD/EDIT Staff*/

.btnRegister {
    display: block; /* Ensures button takes full width */
    margin: 10px auto; /* Center button */
    border: none;
    border-radius: 1.5rem;
    padding: 10px 20px;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    float: right;
}


/*Time Log*/

.btn-clock {
  margin-right: 10px;
}
.time-display {
  font-size: 1.2rem;
  font-weight: bold;
}
#video, #canvas {
  display: none;
}

.error-feedback {
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}